.scaleArea {
    display: flex;
    width: 100%;
}

.scale {
    position: relative;
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: scale(60%);
}

.scale>* {
    position: absolute;
}

.plateImgLeft,
.plateImgRight {
    outline: 1px solid red;
}

.droppedCardsArea {
    outline: 1px solid green;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
    bottom: 20%
}

.ownedCardsArea {
    outline: 1px solid green;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}