.gameArea {
    outline: 1px solid red;
    display: flex;
}

.scale {
    outline: 1px solid red;
    position: relative;
    height: 25vh;
    width: 25vh;
    transform: scale(50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.middleScaleImg,
.plateImgLeft,
.plateImgRight {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.middleScaleImg {
    z-index: 1;
}

.seeSawImg {
    outline: 1px solid blue;
    z-index: 2;
    /* add extra translate if needed */
}

.plateImgLeft {
    z-index: 3;
    left: 25%;
    top: 60%;
    transform: translate(-50%, -50%);
}

.plateImgRight {
    z-index: 3;
    left: 75%;
    top: 60%;
    transform: translate(-50%, -50%);
}