.gameArea {
    outline: 2px solid green;
    display: flex;
    width: 100%;
}

.scale {
    outline: 1px solid red;
    position: relative;
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: scale(60%);
}

.scale>* {
    position: absolute;
}