.scaleArea {
    display: flex;
    width: 100%;
}

.scale {
    position: relative;
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: scale(60%);
}

.scale>* {
    position: absolute;
}

.plateImgLeft,
.plateImgRight {
    outline: 1px solid red;
}

.droppedCardsArea {
    outline: 1px solid green;
    position: absolute;
    width: 100%;
    height: 80%;
    bottom: 20%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.ownedCardsArea {
    outline: 1px solid green;
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.draggableCard {
    background: white;
    border-radius: 20px;
    height: 120px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}