.pageContentContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headerContainer {
    outline: 2px solid blue;
    display: flex;
    flex-direction: column;
    margin-top: 0;
}