.pageContentContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    gap: 20px;
}

.headerContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-bottom: 5vh;
    border-bottom: 1px solid white;
}

.headerContainer .icon {
    font-size: 48px;
}

.gameContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: center;
}

.navigationButtonsContainer {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5vh;
    border-top: 1px solid white;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}