.pageContentContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.headerContainer {
    outline: 2px solid blue;
    display: flex;
    flex-direction: column;
    width: 90%;
}

.gameContainer {
    outline: 2px solid blue;
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    justify-content: center;
}

.navigationButtonsContainer {
    outline: 2px solid blue;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}