.gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.gridItem {
    width: 80px;
    height: 80px;
    font-size: 36px;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pressedGridItem {
    width: 80px;
    height: 80px;
    font-size: 36px;
    background-color: green;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}